html,
body {
  width: 100%;
  height: 100%;
}
body {
  padding: 50px;
  line-height: normal;
}

body .container {
  display: block;
  position: relative;
  padding: 75px auto;
  margin-top: 25px;
  border-style: solid;
  border-width: thick;
  border-color: #dcd1f2;
  box-shadow: 0 0 10px;
  background-image: url(../images/background.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.7;
  font-family: "Balsamiq Sans", cursive;
}

.col-4 h1 {
  font-weight: bold;
}

h2 {
  font-style: oblique;
}
#location {
  margin-top: 25px;
  margin-bottom: 25px;
}

div #temperature-buttons {
  position: relative;
  top: -200px;
  margin-left: 200px;
  background-color: inherit;
}

#forecast {
  text-align: center;
  padding: 50px 20px 50px 20px;
}

.currentTemp {
  font-size: 150px;
  font-weight: bolder;
}
img {
  display: block;
  width: 75%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.todayicon {
  text-align: center;
  font-size: 20px;
}

.weather-icon {
  font-size: 50px;
  text-align: center;
}
.temp {
  font-size: 15px;
}
.col {
  border-color: #e0e0f7;
  border-style: solid;
  border-radius: 4px;
  box-shadow: 0 8px 6px -6px black;
}

footer {
  text-align: center;
  padding: 25px 50px;
  font-size: small;
}
